{include file=$inc|cat:'header.html'}
<style>
	.opt {
		padding: 0;
		min-width: 90px;
		width: 130px;
	}

	.opt button,
	.table button {
		width: 80%;
	}

	.table-container {
		min-height: 600px;
		overflow: auto;
	}
</style>

<main>
	<div id="m_precios" class="modal">
		<div class="flex">
			<div class="modal-content m-sesion col-xs-10 col-sm-7 col-md-5 col-lg-3">
				<div class="modal-header">
					<p class="title">Agregar</p>
					<a class="close">&times;</a>
				</div>

				<div class="modal-body">
					<form id="form_precios" class="form" action="javascript:void(0)" method="post">
						Lugar:
						<select id="select_lugar" class="col-xs-12" name="lugar">
							<!-- <option value="">- Elegir -</option> -->
						</select>

						Tipo evento:
						<select id="select_t_evento" class="col-xs-12" name="tipo_evento">
							<option value="1">- Elegir -</option>
						</select>

						Precio alta (MX):
						<input class="col-xs-12" type="number" placeholder="Pesos" name="precio_alta">
						Precio baja (MX):
						<input class="col-xs-12" type="number" placeholder="Pesos" name="precio_baja">
						<br><br>

						<button class="btn primary" type="submit" name="button">Ingresar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="content m-auto-x">

		<div class="row-between" style="align-items: center">
			<h4>PRECIOS</h4>

			<div class="col-xs-4">
				<span class="col-xs-2" style="padding: 6px"><i class="fas fa-search"></i></span>
				<input id="search" class="col-xs-11" type="text" placeholder="Buscar...">
			</div>
		</div><br>

		<div class="table-container">
			<table class="table">
				<thead>
					<tr>
						<th>SALÓN</th>
						<th>EVENTO</th>
						<th>TEMP. ALTA</th>
						<th>TEMP. BAJA</th>
						<th class="opt"><button id="add_precio" class="primary"><i
									class="fas fa-plus-circle"></i></button></th>
					</tr>
				</thead>
				<tbody id="tbody_precios">
					<!-- <tr> <td>CASANUEVA</td> <td>BODA</td> <td>$ 70000</td> <td>$ 50 000</td> <td><button class="atention"><i class="fas fa-pen-alt"></i></button> <button class="danger"><i class="fas fa-trash-alt"></i></button></td> </tr> -->
				</tbody>
			</table>
		</div>
	</div>
</main>
<script src="{$js}Modal.js?v={date('s')}"></script>
<script src="public/js/precios/loader.js?v={date('s')}"></script>
{include file=$inc|cat:'footer.html'}