{extends file='public/templates/banquetes_temp.html'}

{block name="css"}
	<link rel="stylesheet" href="{$base_url}public/lib/fullcalendar/fullcalendar.css">
	<style>
		@media screen and (max-width: 440px) {
			.head-bar {
				justify-content: center;
				align-items: center;
			}
			#e_ingreso {
				display: none;
			}
		}
		.calendario_container {
			overflow: auto;
		}
		#calendar {
			min-width: 550px;
		}
		.btn-tools {
			display: block;
			text-decoration: none;
			text-align: center;
			padding: 6px 18px;
			letter-spacing: 1px;
		}
		.tools-bar {
			margin-bottom: 10px;
			position: relative;
		}
		.tools-bar::before {
			content: 'Opciones';
			position: absolute;
			left: 10px;
			opacity: 0.8;
		}
		td {
			min-width: 90px;
		}
	</style>
{/block}

{block name="main"}
	<div class="content m-auto">
		<div class="row-between head-bar">
			<hgroup>
				<h1>Eventos</h1>
				<h2>Panel de registro</h2>
			</hgroup>

			{include file=$inc|cat:'event-info.html'}
		</div>

		<div class="tools-bar row-right col-xs-12">
			<a class="btn-tools" href="{$base_url}cotizacion">
				<i class="fas fa-list-ul fa-sm"></i> Cotizar
			</a>
		</div>

		<!-- Calendario -->
		<div class="calendario_container">
			<div id="calendar" class="col-xs-12 col-md-10 col-xlg-9 m-auto-x"></div>
		</div>
	</div>
	{include file=$views|cat:'eventos/M_evento.html'}
	{include file=$views|cat:'eventos/MD_evento.html'}
	{include file=$views|cat:'eventos/MD_logistica.html'}
	{include file=$views|cat:'eventos/MD_orden.html'}
	{include file=$views|cat:'eventos/form_eliminar_orden.html'}
{/block}

{block name="js"}
	<script src="{$base_url}public/lib/fullcalendar/fullcalendar.js" defer></script>
	<script src="{$base_url}public/lib/fullcalendar/locale/es-us.js" defer></script>
	<script src="{$js}eventos/main.js?v={date('s')}" defer></script>
	<script src="{$js}eventos/functions.js?v={date('s')}" defer></script>
	<script src="{$js}eventos/print-functions.js?v={date('s')}" defer></script>
	<script src="{$js}eventos/calendario.js?v={date('s')}" defer></script>
{/block}