<div id="frm_eliminar_orden" class="sub-modal">
    <div class="flex">
        <div class="modal-content col-xs-2" style="min-width: 260px; border-radius: 10px">
            <div class="modal-body" style="padding-top: 20px; text-align: center">
                <p>¿Está seguro/a?</p><br>
                <form class="form col-xs-12" action="#" method="post">
                <input type="hidden" name="id" value=""> 
                <div class="row-between">
                    <button class="btn success" type="submit">SÍ</button>
                    <button id="cerrar" class="btn default" type="button">NO</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>