<!-- inputs:
    tipo_formato, nombre, lugar, montaje, garantia, canapes, entrada, fuerte,
    postre, detalle_montaje, ama_llaves, chief_steward, mantenimiento,
    seguridad, recursos_humanos, proveedores, contabilidad
-->
<form id="tab_banquete" class="form col-xs-12" action="#" method="post">
	<input class="id_orden" type="hidden" name="id">
	<div class="row-between">
		<div class="col-xs-12 col-md-6">
			<div class="row-between scroll-y" style="padding: 0 20px">
				<input type="hidden" name="tipo_formato" value="banquete">
				<div class="col-xs-12 col-sm-6">
					Nombre de la Orden *<br>
					<input class="o_nombre col-xs-12 col-sm-11" type="text" name="nombre">
				</div>
				<div class="col-xs-12 col-sm-6">
					Lugar * <br>
					<input class="o_place col-xs-12" type="text" name="lugar">
				</div>
				<div class="col-xs-12 col-sm-6">
					Montaje *<br>
					<input class="o_montaje col-xs-12 col-sm-11" type="text" name="montaje"><br>
				</div>
				<div class="col-xs-12 col-sm-6">
					Garantía *<br>
					<input class="o_garantia col-xs-12" type="text" name="garantia"><br>
				</div>
				<div class="col-xs-12 col-sm-6">
					Hora *<br>
					<input class="o_hora col-xs-12 col-sm-11" type="text" name="time" placeholder="HH:MM:SS"><br>
				</div>
				<div class="col-xs-12 col-sm-6">
					Entrada<br>
					<textarea wrap="off" class="o_entrada col-xs-12 col-sm-11" name="entrada" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Fuerte<br>
					<textarea wrap="off" class="o_fuerte col-xs-12" name="fuerte" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Postre<br>
					<textarea wrap="off" class="o_postre col-xs-12 col-sm-11" name="postre" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Torna<br>
					<textarea wrap="off" class="o_torna col-xs-12 col-sm-11" name="torna" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Mezcladores<br>
					<textarea wrap="off" class="o_mezcladores col-xs-12" name="mezcladores" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Bebidas<br>
					<textarea wrap="off" class="o_bebidas col-xs-12 col-sm-11" name="bebidas" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Notas (Observaciones)<br>
					<textarea wrap="off" class="o_observaciones col-xs-12" name="observaciones" rows="3"></textarea>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6">
			<div id="campos_banquete" class="row-between scroll-y" style="padding: 0 20px">
				<div class="col-xs-12 col-sm-6">
					Detalle montaje<br>
					<textarea wrap="off" class="o_dmontaje col-xs-12 col-sm-11" name="detalle_montaje" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Ama de llaves<br>
					<textarea wrap="off" class="o_ama_llaves col-xs-12 col-sm-11" name="ama_llaves" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Chief Steward<br>
					<textarea wrap="off" class="o_chief_steward col-xs-12 col-sm-11" name="chief_steward" rows='3'></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Mantenimiento<br>
					<textarea wrap="off" class="o_mantenimiento col-xs-12 col-sm-11" name="mantenimiento" rows='3'></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Seguridad<br>
					<textarea wrap="off" class="o_seguridad col-xs-12 col-sm-11" name="seguridad" rows='3'></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Recursos Humanos<br>
					<textarea wrap="off" class="o_RH col-xs-12 col-sm-11" name="recursos_humanos" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Proveedores<br>
					<textarea wrap="off" class="o_proveedores col-xs-12 col-sm-11" name="proveedores" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Contabilidad<br>
					<textarea wrap="off" class="o_contabilidad col-xs-12 col-sm-11" name="contabilidad" rows="3"></textarea>
				</div>
			</div>
		</div>
	</div>

	<div class="row-right">
		<button form="tab_banquete" class="btn success" type="button" onclick="createOrden(event)">Subir</button>
		<button form="tab_banquete" class="btn atention" type="button" onclick="editOrden(event)">Aplicar</button>
		<button class="btn primary" type="button" onclick="addCampoExtraBanquete()">
			Mas <i class="fas fa-plus fa-sm"></i>
		</button>
	</div>
</form>

<!-- SCRIPT DE CAMPOS DINÁMICOS -->
<script>
	let nc_banquete = 0

	function addCampoExtraBanquete() {
		if (nc_banquete < 5) {
			const field = document.createElement('div')
			field.className = 'col-xs-12 col-sm-6'
			field.innerHTML = `<input class="o_tag col-xs-7" type="text" name="tag[]">
			<a class="btn-field" onclick="removeCampo(event)">&times;</a><br>
        	<textarea wrap="off" class="o_content col-xs-12 col-sm-11" name="content[]" rows="3"></textarea>`

			campos_banquete.appendChild(field)
			nc_banquete++
		} else { popup.alert({ content: 'Se ha alcanzado el máximo de campos disponibles', effect: 'bottom' }) }
	}

	function removeCampo(e) {
		e.target.parentElement.remove()
		nc_banquete--
		e.preventDefault()
	}
</script>