<!-- inputs:
  tipo_formato, nombre, lugar, montaje, garantia, canapes,
  detalle_montaje, ama_llaves, chief_steward, mantenimiento,
  seguridad, recursos_humanos, proveedores, contabilidad
-->
<form id="tab_grupo" class="form col-xs-12" action="core/ajax" method="post">
	<input class="id_orden" type="hidden" name="id">
	<div class="row-between">
		<!-- CAMPOS DE LA IZQUIERDA -->
		<div class="col-xs-12 col-md-6">
			<div class="row-between scroll-y" style="padding: 0 20px">
				<input type="hidden" name="tipo_formato" value="grupo">
				<div class="col-xs-12 col-sm-6">
					Nombre de la Orden *<br>
					<input class="o_nombre col-xs-12 col-sm-11" type="text" name="nombre">
				</div>
				<div class="col-xs-12 col-sm-6">
					Lugar *<br>
					<input class="o_place col-xs-12" type="text" name="lugar">
				</div>
				<div class="col-xs-12 col-sm-6">
					Montaje *<br>
					<input class="o_montaje col-xs-12 col-sm-11" type="text" name="montaje"><br>
				</div>
				<div class="col-xs-12 col-sm-6">
					Garantía *<br>
					<input class="o_garantia col-xs-12" type="text" name="garantia"><br>
				</div>
				<div class="col-xs-12 col-sm-6">
					Hora *<br>
					<input class="o_hora col-xs-12 col-sm-11" type="text" name="time" placeholder="HH:MM:SS"><br>
				</div>
				<div class="col-xs-12 col-sm-6">
					Alimentos<br>
					<textarea wrap="off" class="o_canapes col-xs-12 col-sm-11" name="canapes" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Bebidas<br>
					<textarea wrap="off" class="o_bebidas col-xs-12" name="bebidas" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Notas (Observaciones)<br>
					<textarea wrap="off" class="o_observaciones col-xs-12 col-sm-11" name="observaciones" rows="3"></textarea>
				</div>
			</div>
		</div>
		<!-- CAMPOS DE LA DERECHA -->
		<div class="col-xs-12 col-md-6">
			<div id="campos_grupo" class="row-between scroll-y" style="padding: 0 20px">
				<div class="col-xs-12 col-sm-6">
					Detalle montaje<br>
					<textarea wrap="off" class="o_dmontaje col-xs-12 col-sm-11" name="detalle_montaje" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Ama de llaves<br>
					<textarea wrap="off" class="o_ama_llaves col-xs-12 col-sm-11" name="ama_llaves" rows="3"></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Chief Steward<br>
					<textarea wrap="off" class="o_chief_steward col-xs-12 col-sm-11" name="chief_steward" rows='3'></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Mantenimiento<br>
					<textarea wrap="off" class="o_mantenimiento col-xs-12 col-sm-11" name="mantenimiento" rows='3'></textarea>
				</div>
				<div class="col-xs-12 col-sm-6">
					Contabilidad<br>
					<textarea wrap="off" class="o_contabilidad col-xs-12 col-sm-11" name="contabilidad" rows="3"></textarea>
				</div>
			</div>
		</div>
	</div>
	<!-- BARRA INFERIOR -->
	<div class="row-right">
		<button form="tab_grupo" class="btn success" type="button" onclick="createOrden(event)">Subir</button>
		<button form="tab_grupo" class="btn atention" type="button" onclick="editOrden(event)">Aplicar</button>
		<button id="btnCampoExtra" class="btn primary" type="button">
			Mas <i class="fas fa-plus fa-sm"></i></button>
	</div>
</form>

<!-- SCRIPT DE CAMPOS DINÁMICOS -->
<script>
	let nc_grupo = 0;

	btnCampoExtra.addEventListener('click', () => {
		if (nc_grupo < 5) {
			const e = document.createElement('div');
			e.className = 'col-xs-12 col-sm-6';
			e.innerHTML = `<input class="o_tag col-xs-7" type="text" name="tag[]">
			<a class="p-2" onclick="removeCampo(event)">&times;</a><br>
      		<textarea wrap="off" class="o_content col-xs-12 col-sm-11" name="content[]" rows="3"></textarea>`

			campos_grupo.appendChild(e)
			nc_grupo++
		} else { popup.alert({ content: 'Se ha alcanzado el máximo de campos disponibles', effect: 'bottom' }) }
	})

	function removeCampo(e) {
		e.target.parentElement.remove()
		nc_grupo--
		e.preventDefault()
	}
</script>