<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^banqueteslasmananitas\.com\.mx$ [OR]
RewriteCond %{HTTP_HOST} ^www\.banqueteslasmananitas\.com\.mx$
RewriteRule ^/?$ "https\:\/\/www\.banqueteslasmananitas\.com\.mx\/" [R=301,L]

RewriteCond %{HTTPS} on
RewriteCond %{HTTP:X-Forwarded-SSL} !off
RewriteCond %{HTTP_HOST} ^banqueteslasmananitas\.com\.mx$
RewriteRule ^/?$ "https\:\/\/www\.banqueteslasmananitas\.com\.mx\/" [R=301,L]