.loader,
.loader:before,
.loader:after {
    background: #FFF;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: "";
}

.loader:before {
    left: -1.5em;
}

.loader {
    text-indent: -9999em;
    margin: auto;
    position: relative;
    font-size: 11px;
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
}

.loader:after {
    left: 1.5em;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
}

.loader-container {
    background: rgba(43, 58, 73, 0.719);
    height: 160px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -80px;
    z-index: 1000;
    width: 160px;
    border-radius: 15px;
}