.modal {
    display: none;
    width: 100%;
    height: 100%;
    color: #3d3d3d;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.3);
}
.modal .flex {
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.modal-content {
    position: relative;
    color: #383d42;
    overflow: auto;
    max-height: 98%;
    animation-name: modalDown;
    animation-duration: 0.5s;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #1f1f1f;
    -webkit-box-shadow: 1px 1px 10px #1f1f1f;
    border-radius: 4px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    font-size: 20px;
    background: #1c6e1c;
    text-shadow: 0 1px 3px #192017;
    color: #e0e4ee;
    border-bottom: solid 1px #125812;
}
.modal-header h3,
.modal-header p {
    font-family: "Caslon-Roman", serif;
    font-size: 24px;
}

.modal-body {
    width: auto;
    font-size: 18px;
    padding: 10px 15px;
    background: #fff;
    box-sizing: border-box;
}

.modal-footer {
    background: #e3e8f1;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 4px;
    border: solid 1px #b7becf;
    padding: 14px 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 400px) {
    .modal-footer {
        padding: 15px 2px;
    }
}

.close {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: #94af90;
}

.sub-modal {
    display: none;
    width: 100%;
    height: 100vh;
    color: #3d3d3d;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.3);
    box-sizing: border-box;
}
.sub-modal .flex {
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 100%;
}

@keyframes modalDown {
    from {
        transform: translateY(-48%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes modalUp {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -100%;
        opacity: 0;
    }
}
/**---------------------- NUEVO MODAL -----------------------*/
.win-modal {
    display: none;
    width: 100%;
    height: 100%;
    color: #3d3d3d;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.3);
}
.win-modal .m-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.win-modal .m-content {
    position: relative;
    color: #383d42;
    overflow: auto;
    max-height: 98%;
    max-width: 95%;
    animation-name: modalDown;
    animation-duration: 0.6s;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #1f1f1f;
    -webkit-box-shadow: 1px 1px 10px #1f1f1f;
    border-radius: 4px;
}
.win-modal .m-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-size: 20px;
    text-shadow: 0 1px 3px #192017;
    background: #1c6e1c;
    color: #e0e4ee;
}
.win-modal .m-head p,
.win-modal .m-head h3 {
    font-family: "Caslon-Roman", serif;
    font-size: 24px;
}
.win-modal .m-body {
    width: auto;
    font-size: 18px;
    padding: 20px 30px;
    background: #fff;
    box-sizing: border-box;
}
.win-modal .m-body h3 {
    font-size: 24px;
}
.win-modal .m-foot {
    background: #e3e8f1;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 4px;
    border: solid 1px #b7becf;
    padding: 14px 10px;
    box-sizing: border-box;
}
@media screen and (max-width: 400px) {
    .win-modal .m-foot {
        padding: 15px 2px;
    }
}
.win-modal .m-close {
    background: none;
    padding: 0;
    border: none;
    outline: none;
    color: #f2f2f2;
    font-size: 22px;
    cursor: pointer;
}
.win-modal .m-close:hover {
    color: #94af90;
}