<div id="m_evento" class="modal">
	<div id="flex" class="flex" onclick="cerrarModal(event, 'm_evento', 'form_evento')">
		<div class="modal-content modal-up col-xs-11 col-md-9" onclick="stopPropagation(event)">
			<div class="modal-header">
				<h3>Evento</h3>
				<ul class="tabs">
					<li>
						<button class="btn primary" type="button" onclick="abrirDetalleEvento(event)">Detalles</button>
					</li>
				</ul>
			</div>
			<div class="modal-body" onclick="stopPropagation(event)">
				<form id="form_evento" class="form col-xs-12" action="#" method="post">
					<!-- Functions javascript -->
				</form>
				<div class="modal-footer">
					<button class="btn default" type="button" onclick="cerrarModal(event, 'm_evento', 'form_evento')">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
