<div class="event-msg" style="margin-bottom: 0.5em;">
    <span class="yellow" style="display: inline-block;
    width: 15px; height: 15px;
    background: #ebda49"></span> EVENTO TENTATIVO <br>
    <span class="red" style="display: inline-block;
    width: 15px;
    height: 15px;
    background: #54b33d"></span> CASANUEVA <br>
    <span class="red" style="display: inline-block; width: 15px; height: 15px; background: #c041c0"></span>
    CASA DE MUÑECAS <br>
    <span class="yellow" style="display: inline-block;
    width: 15px; height: 15px;
    background: #a35018"></span> CABAÑAS/GARDEN/S.FLORES/S.ESPEJOS/SUITE MAÑANITAS 
    <br>
</div>