<div id="modal_tevento" class="win-modal">
    <div class="m-bg">
        <div class="m-content">
            <div class="m-head">
                <p>Tipo Evento</p>
                <button class="m-close">&Cross;</button>
            </div>

            <div class="m-body">
                <form id="form_tevento" class="form" action="#" method="post">
                    <label for="nombre">Nombre</label>
                    <input class="col-xs-12" type="text" name="nombre"><br><br>

                    <button class="btn primary" type="submit">Subir</button>
                </form>
            </div>
        </div>
    </div>
</div>