{extends file='public/templates/banquetes_temp.html'}

{block name="main"}
	<div class="content m-auto">
		<hgroup>
			<h1>Usuarios</h1>
			<h2>Control de acceso</h2>
		</hgroup>
		<div id="tabs_menu">
			<ul class="tabs">
				<li><a href="#tab1" class="tab active"><i class="fas fa-users"></i></a></li>
			</ul>
			<div class="tabs_content">
				<section id="tab1" class="tab_content show">
					{include file=$views|cat:'usuarios/TB_usuarios.html'}
				</section>
			</div>
		</div>
	</div>
	{include file=$views|cat:'usuarios/M_usuarios.html'}
{/block}

{block name="js"}
<script src="{$js}Modal.js?v={date('s')}"></script>
<script src="{$js}usuarios/functions.js?v={date('s')}"></script>
{/block}