<div id="m_detalle" class="modal">
	<div class="flex">
		<div class="modal-content col-xs-10 col-md-4">
			<div class="modal-header">
				<p>Detalles</p>
				<p class="close">&Cross;</p>
			</div>

			<div class="modal-body">
				<!-- FORMULARIO DETALLE USUARIO -->
				<form id="form_detalle_user" class="form" method="POST">
					Nombre <br>
					<input class="col-xs-12" type="text" name="name" required><br>
					Apellidos <br>
					<input class="col-xs-12" type="text" name="last-name" required><br>
					Correo <br>
					<input class="col-xs-12" type="text" name="email" required><br>
					Telefono <br>
					<input class="col-xs-12" type="text" name="number"><br><br>

					<!-- BOTÓN ACTUALIZAR INFORMACIÓN -->
					<button class="btn success" type="submit">
						<i class="fas fa-chevron-up"></i> Actualizar
					</button>
				</form>
			</div>
		</div>
	</div>
</div>