{include file=$inc|cat:'header.html'}
<style>
	.graph {
		display: inline-block;
		width: 600px;
		max-width: 49%;
		height: auto;
	}
	.img-cont {
		text-align: center;
	}
	.form-cotizacion {
		display: inline-block;
		margin-bottom: 20px;
	}
	.calendar {
		padding-top: 20px;
		display: inline-block;
	}
	.table_info_cot {
		font-family: sans-serif;
		width: 100%;
	}
	.table_info_cot td {
		box-sizing: border-box;
		font-size: 18px;
		padding: 2px;
	}
	@media screen and (max-width: 440px) {
		#c_nombre {
			margin-bottom: 5px;
		}
	}
</style>
<!-- FORMULARIO MENU -->
{include file=$views|cat:'cotizacion/modal-info.html'}
{include file=$views|cat:'cotizacion/modal_correo.html'}
{include file=$views|cat:'cotizacion/modal_status.html'}

<main>
	<div class="content m-auto-x row-between">
		<!-- FORMULARIO DE COTIZACIÓN -->
		{include file=$views|cat:'cotizacion/modal_add_cot.html'}
		{include file=$views|cat:'cotizacion/form_cot.html'}

		<!-- LADO DERECHO -->
		<div class="img-cont col-xs-12 col-md-8">
			<!-- BARRA DE HERRAMIENTAS -->
			<div class="tools-bar row-between col-xs-12 col-md-10">
				Herramientas
				<ul class="tools-menu row-right">
					<li>
						<a id="cot_ajustes" class="btn-tools" href="{$base_url}precios">
							<i class="fas fa-wrench"></i>Ajustes
						</a>
					</li>
				</ul>
			</div>
			<!-- CALENDARIO DE EVENTOS -->
			<div id="calendar" class="calendar col-xs-12 col-md-10"></div>
		</div>
	</div>
</main>

<script src="public/js/cotizacion/functions.js?v={date('s')}" defer></script>
<script src="public/js/cotizacion/calendar.js?v={date('s')}" defer></script>
<script src="public/js/cotizacion/onload.js?v={date('s')}" defer></script>
<script src="public/js/cotizacion/events.js?v={date('s')}" defer></script>
<script src="public/js/cotizacion/print-functions.js?v={date('s')}" defer></script>
{include file=$inc|cat:'footer.html'}