
<div id="modal_correo" class="win-modal">
   <div class="m-bg">
      <div class="m-content" style="min-width: 300px">
         <div class="m-head">
            <p>Enviar correo</p>
            <button class="m-close">&Cross;</button>
         </div>

         <div class="m-body">
            <span>Se enviará la información de la cotización a los administradores</span><br><br>
            <span>Agregue información adicional</span>

            <form id="form_email" class="form" action="#">
               Asunto: <br>
               <input style="width: 100%" type="text" name="asunto"> <br>
               Mensaje: <br>
               <textarea style="width: 100%" name="mensaje" rows="4"></textarea> <br><br>
   
               <button class="btn primary" type="submit">Enviar</button>
            </form>
         </div>
      </div>
   </div>
</div>